[submodule "api/proto/curp-proto"]
	path = api/proto/curp-proto
	url = git@github.com:xline-kv/curp-proto.git
[submodule "api/proto/xline-proto"]
	path = api/proto/xline-proto
	url = git@github.com:xline-kv/xline-proto.git
[submodule "mock-xline"]
	path = mock-xline
	url = https://github.com/xline-kv/mock-xline.git
